.equipment {
    border: 1px solid black;
    position: absolute;
    z-index: 2;
    top: 2%;
    right: 5%;
    display: flex;
}

.equipment__sigils {
    background-color: #eee;
}

.equipment__sigils-slot {
    border: 1px solid gray;
    height: 64px;
    width: 64px;
}

.equipment__display {
    background-color: white;
}

